.nav {
    grid-area: n;
    background-color: rgb(55, 185, 194);
    padding: 15px;
  }

  .item a {
      color: white;
      text-decoration: none;
  }

  .item a.activeLink {
      color: gold
  }